<%= form.error_messages %>

<div id="forum_name">
  <table border="0" cellspacing="0" cellpadding="0" class="noborder nopad wide">
    <td>
      <label><%= I18n.t 'txt.views_forums.title', :default => 'Title' %></label><br />
      <%= form.text_field :name, :class => "primary" %>
    </td>
    <td style="text-align:right">
      <label><%= I18n.t 'txt.views_forums.position', :default => 'Position' %></label><br />
      <%= form.text_field :position, :size => 5 %>
    </td>
  </table>
</div>

<p id="forum_descripion">
  <label><%= I18n.t 'txt.views_forums.desc', :default => 'Description' %></label><br />
  <%= form.text_area :description, :rows => 7 %>
</p>

<p id='forum_creature_types'>
  <label><%= I18n.t 'txt.views_forums.creature_types', :default => 'Creature Types' %></label><br />
  <% CreatureType.all.each do |creature_type| %>
    <%= form.radio_button :creature_type, creature_type %>
    <%= creature_type %>
    <br />
  <% end %>
</p>